.unread-notification {
    padding: .35em .65em;
    padding-top: 0.35em;
    padding-right: 0.65em;
    padding-bottom: 0.35em;
    padding-left: 0.65em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: red;
    border-radius: 50%;
}

.d-none {
    display: none !important;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.header-rooms {
    display: flex;
    gap: 10px;
    margin-left: 30px;
}

.header-room {
    border: 1px solid #eee;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

.header-room.active {
    background: #eee;
    color: black;
}

.notification {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 15px;
    height: 15px;
    border-radius: 100px;
    background: red;
    color: white;
}